frames/*.png
miyoka/libs/__pycache__
last_images
video.mp4
logs
image_*.jpeg
data
.venv
working
replay.mp4
.DS_Store
download
**/.DS_Store
screenshot.jpeg
**/__pycache__/**
frames
metadata.json
tmp.zip
metadata-*.json
model-store
miyoka/model/*.mar
miyoka/model/*.zip
replay_recorder_save_data.json
scenes
scenes_by_similarity
frame_dataset.pkl
tmp-frames.zip
202408260923_scenes/
202408260923_scenes_by_similarity/
scene_store.pkl
scene-subtitle.vtt
config.yaml
config_*.yaml
.env
# Dependency directories
node_modules/
# Lockfiles
miyoka/**/yarn.lock
miyoka/**/package-lock.json
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
replays/